<% @groups.each do |group| %>
<div class="large-4 column">
  <div class="group-callout">
    <ul>
      <div class="box-spacing text-center">
        <h3><%= link_to group.title, group_path(group) %></h3>
        <p><%= group.description %></p>
      </div>
    </ul>
  </div>
</div>
<% end %>
