<div class="row panel image-panel">
  <div class="large-12 columns">

    <ul class="medium-block-grid-4 center collapse">
      <% @images.each do |post| %>
          <li class="block-image"><%= image_tag(post.post_photo.panel) %></li>
      <% end %>
    </ul>
  </div>
</div>
