<div class="info-background">
  <div class="row">
    <div class="medium-8 columns medium-centered text-centerd about-blurb pullDown">
    <h3 class="text-center">Join groups with your friends, post text, photos, quotes, and links from your browser and phone.
    </h3>
    </div>
  </div>
</div>
