<div class="info-background">
  <div class="row">
    <div class="medium-8 columns medium-centered text-centerd about-blurb">

    <h4 class="text-center">Pangr. Join groups with your friends, post text, photos, quotes, and links from your browser and phone.
    </h4>
    </div>
  </div>
</div>
