<div class="hide-for-medium-down">
  <%= image_tag("pangr_banner.jpg", alt: "banner", class: "white-line header_image") %>
  <div class="text-overlay show-for-medium-up">
    <div class="row box">
      <div class="medium-11 columns group-text ">
        <div class="row search search-spacing">
          <%= form_tag groups_path, method: :get %>
          <div class="medium-4 col-padding columns">
            <%= text_field_tag :query, nil, placeholder: "Search"%>
            <%= submit_tag "Search", class: "button postfix" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
