<div class="hide-for-medium-down">
  <div id="landing-content">

  </div>
  <div class="text-overlay show-for-medium-up">
    <div class="row box">
      <div   class="medium-11 columns group-text ">
        <div class="row search search-spacing">
          <%= form_tag groups_path, method: :get %>

          <div class="medium-4 col-padding columns">
            <%= text_field_tag :query, nil, placeholder: "Search", class: ""%>
            <%= submit_tag "Search Groups", class: "button postfix " %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
