
<div class="group-callout-right">
  <ul class="post-panel" data-orbit>
    <% @posts.each do |post| %>
    <li data-orbit-slide="headline-2">
      <div class="box-spacing">
        <h2><%= image_tag(post.post_photo.postsize) %></h2>
        <p><%= post.body %></p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
