
<div class="row small-panel text-center show-for-small-only">
  <h4 class="small-title-text">Pangr</h4>
</div>


<div class="row medium-panel text-center show-for-medium-only">
  <h4 class="medium-title-text">Pangr</h4>
</div>
