<!-- <div class="container"> -->

<div class="row first-pan show-for-medium-up">
  <!-- <h1 class="title-text">Pangr</h1> -->
</div>
<!-- </div> -->

<!-- <div class="row  blue-panel text-center show-for-small-only">
  <h4 class="small-title-text">Pangr</h4>
</div> -->
