
<div class="row blue-panel text-center show-for-medium-down">
  <h4 class="small-title-text">Pangr</h4>
</div>

<div class="row white-panel text-center show-for-medium-up">
    <!-- <h1 class="title-text">Pangr</h1> -->
</div>
