<div class="container">



<%= render "lead_image" %>


<%= render "title_panel" %>


<div class="row panel group-panel">
  <div class="large-12 columns large-centered">


    <%= render "group_panel" %>

</div>
</div>
    <%= render "image_panel" %>

</div>
