footer {
  width: 100%;
  min-height: 75px;
  background-color: #6B6B6B;
}

.footer-panel {
  color: white;
}

.fi-social-github {
  font-size: 40px
}
.fi-social-linkedin {
  font-size: 40px
}
.fi-social-treehouse {
  font-size: 40px
}
.copyright {
  padding: 10px;
}

.hover-effect {
  a:hover {
    color: #060821;
  }
}

.right-side {
  text-align: right;
}
