

.image-panel {
  background-color: #20244E;
  max-height: auto;
  overflow: hidden;
  padding-bottom: 0px;
  // background-image: image-url("link-pattern.jpg");
  // background-size: cover;
  // background-position: 10% 130%;
  // background-attachment: fixed;
  // background-size: 600px;
  // background-repeat: no-repeat;
}
// .block-image {
//   // border: 5px solid white;
//
// }
