
// in application view
.wrapper {
  max-width: none;
}

.header_image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0;
  border-top: 5px solid white;

}

.box {
  position: relative;
}

.group-text {
  position: absolute;
  bottom: 0;
  // right: 0;
  // padding-bottom: 5em;

}
