
// in application view
.wrapper {
  max-width: none;
}

.box {
  position: relative;
}

.group-text {
  position: absolute;
  bottom: 0;
}

.white-panel {
  background-color: #787A88;
  height: 25px;
  overflow: hidden;
  background-attachment: fixed;

}

.blue-panel {
  background-image: image-url("pangr_banner.jpg");
  height: 100%;
  overflow: hidden;
  margin-top: -20px;
  min-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

}

.medium-panel {
  background-image: image-url("pangr_banner.jpg");
  height: 200px;
  overflow: hidden;
  margin-top: -20px;
  min-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

}

.small-title-text {
  font-family: 'Muli';
  font-size: 75px;
  letter-spacing: 2px;
  font-style: bold;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  padding-top: 10px;
}

.medium-title-text {
  padding-top: 50px;
  font-family: 'Muli';
  font-size: 75px;
  letter-spacing: 2px;
  font-style: bold;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
}




#landing-content {
  background-position: center;
  overflow: hidden;
  background-image: url("pangr_banner.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 500px;
  height: 500px;
}
