.photo-spacing {
  // width: 100%;
  display:block;
  margin:auto;
}

.padding-right {
  padding-right: 30px;
  position: relative;
}

.blank-panel {
  height: 25px;
  width: 100%;
}
.row-padding {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;

}
