


.box-spacing {
  padding-bottom: 20px;
  padding-top: 40px;
}

.panel-spacing {
  padding-left: 50px;
  padding-right: 50px;

}

//
// .panel-title {
//   padding-top: 40px;
//   font-family: 'Muli';
//   font-weight: 300;
//   font-size: 20px;
//   letter-spacing: 2px;
//   }
  //
  .blank-panel {
    min-height: 75px;
    margin: 0px !important,
  }
