
.search {
  input, input[type="text"] {
    padding: 0.5rem 1em;

  }
}
.search-spacing {
  padding: 75px 0;

}
.search-padding {
  margin: 0;
}
.search-down {
  padding-bottom: 20px;
}
.col-padding {
  padding-top: 30px;

}
.search-color {
  background-color: #20244E;

}
