.group-callout {
  padding-left: 0px;
  padding-right: 0px;

 }
 .group-callout-right {
   padding-right: 50px;
   padding-top: 10px;
 }

.box-spacing {
  padding-bottom: 10px;
  padding-top: 40px;
}

.panel-spacing {
  padding-left: 50px;
  padding-right: 50px;

}

.banner_text {
  margin-bottom: 10px;
}

.panel-title {
  padding-top: 40px;
  font-family: 'Muli';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  }

  .group-panel {
    border-top: 5px solid white;

  }
