body {
  background-color: #D3D1C9;
  font-family: 'Muli';
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli';
  letter-spacing: 2px;

}

h2 {
  margin-bottom: 1em;
}


.flash {
  text-align: left;
}

// ==========================
// NAV BAR
// ==========================

  img.profile {
    &.tiny {
      border-radius: 50px;
      margin-left: 35px;
    }
  }

  .name-title {
    font-family: 'Muli';
    letter-spacing: 2px;
    margin-top: 10px;
  }

  .top-bar h1 a {
    font-size: 45px;
    margin-left: -15px;
  }

  .title-area {
    padding-left: 20px;
  }


  .logo {
    margin-top: 5px;
    padding-left: 0px;
  }



// ==========================
// FORMS
// ==========================

input[type="text"], input[type="password"],
input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"],
input[type="url"], input[type="color"], textarea,
input {
  padding: 1.5rem 1em;
  border: none;
  box-shadow: none;
  margin-bottom: 1.5em;
  font-family: 'Muli';
}

::-webkit-input-placeholder { color:#777; }
::-moz-placeholder { color:#777; } /* firefox 19+ */
:-ms-input-placeholder { color:#777; } /* ie */
input:-moz-placeholder { color:#777; }

// ==========================
// SIGN UP FORM
// ==========================

.sign-up-form {

  input[type=submit] {
    width: 100%;
    background-color: #259073;
    box-shadow: 0px 1px 2px rgba(0,0,0,.4);
    color: white;
    font-size: 14px;
  }
  a {
    color: #0B0E31;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;

  }
}

// ==========================
// EDIT NEW FORM
// ==========================
.edit-new-form {

  input[type=submit] {
    width: 100%;
    background-color: #259073;
    box-shadow: 0px 1px 2px rgba(0,0,0,.4);
    color: white;
    font-size: 14px;
  }
  a {
    color: #259073;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;

  }
  textarea {
    height: 200px;
  }
}

// ==========================
// INDEX
// ==========================

.index-format {

  a {
    color: #041122;
    text-align: left;
    font-size: 1em;
    letter-spacing: 2px;
  }

  a:hover {
    color: #254266;
  }
}

// ==========================
// SHOW
// ==========================

.post-image {
  max-width:100%;
  content: center;
}

.carrier-wave-field input {
  color: black;
}

.top-margin {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.padding-left {
  padding-left: 50px;
}

.margin-right {
  margin-right: 25px;
}

.padding-top {
  padding-top: 35px;
}

.post-color {
  background-color: #060821 !important;

  }

.user_name {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;

}

.white-text {
  color: white !important;
}

.post_show {
  padding-top: 10px !important;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
  color: white !important;
  font-family: 'Muli';
  letter-spacing: 2px;


}
.container {
  background-color: #060821;
}

//==========================
// Alert Box
//=========================

.alert-box {
  z-index: 100;
  width: 50%;
  height: 50px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 10; right: 0;
  background: #060821;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.9);

}

.alert-box:before {
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.close-color a{
  background-color: transparent;
}

.padding-aside {
  padding: 20px;
}
