body {
  background-color: #D3D1C9;
  font-family: 'Muli';
}

.container {
  position: relative;
}

.container .columns {
  position: relative;
}

.banner_text {
  margin-top: 75px;
  margin-left: 90px;
  font-family: 'Muli';
}

.wrapper {
  max-width: none;
}

.group-block {
  position: absolute;
  top: 75px;
  left: 75px;
  font-family: 'Muli';
}

.white-line {
  border-bottom: 3px solid white;

}

.header_image {
  position: absolute;
  top: 0;
  &.row {
    max-width: none;
  }
  .columns {
    padding: 0px;
    margin: 0px;
  }
  .banner {
    margin:  0px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli';
}

h2 {
  margin-bottom: 1em;
}


.flash {
  text-align: left;
}

// ==========================
// NAV BAR
// ==========================

  img.profile {
    &.tiny {
      border-radius: 50px;
      margin-left: 5px;

    }
  }

  .name h1 a {
    font-family: 'Muli';
    letter-spacing: 2px;
  }

  .logo {
    margin-top: 5px;
    margin-right: -20px;
  }



// ==========================
// FORMS
// ==========================

input[type="text"], input[type="password"],
input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"],
input[type="url"], input[type="color"], textarea,
input {
  padding: 1.5rem 1em;
  border: none;
  box-shadow: none;
  margin-bottom: 1.5em;
  font-family: 'Muli';
}

::-webkit-input-placeholder { color:#777; }
::-moz-placeholder { color:#777; } /* firefox 19+ */
:-ms-input-placeholder { color:#777; } /* ie */
input:-moz-placeholder { color:#777; }

// ==========================
// SIGN UP FORM
// ==========================

.sign-up-form {

  input[type=submit] {
    width: 100%;
    background-color: #259073;
    box-shadow: 0px 1px 2px rgba(0,0,0,.4);
    color: white;
    font-size: 14px;
  }
  a {
    color: #0B0E31;
    text-align: center;
    font-size: 14px;
  }
}

// ==========================
// EDIT NEW FORM
// ==========================
.edit-new-form {

  input[type=submit] {
    width: 100%;
    background-color: #259073;
    box-shadow: 0px 1px 2px rgba(0,0,0,.4);
    color: white;
    font-size: 14px;
  }
  a {
    color: #259073;
    text-align: center;
    font-size: 14px;
  }
  textarea {
    height: 200px;
  }
}

// ==========================
// INDEX
// ==========================

.index-format {

  a {
    color: #041122;
    text-align: left;
    font-size: 1em;
  }

  a:hover {
    color: #254266;
  }
}

// ==========================
// SHOW
// ==========================

.carrier-wave-field input {
  color: black;
}

.top-margin {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.padding-left {
  padding-left: 50px;
}

.margin-right {
  margin-right: 25px;
}

.padding-top {
  padding-top: 35px;
}

.post-color {
  background-color: #060821 !important;

  }

.user_name {
  padding: 0;
  margin: 0;
}

.white-text {
  color: white !important;
}

.post_show {
  padding-top: 10px !important;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
  color: white !important;
  font-family: 'Muli';
  letter-spacing: 2px;


}
// .panel {
//   color: #060821;
// }
