.first-pan {
  background-color: #787A88;
  height: 25px;
  overflow: hidden;
  background-image: image-url("pangr800.png");
  background-size: cover;
  background-position: 10% 10%;
  background-attachment: fixed;
  // background-size: 600px;
  background-repeat: no-repeat;
  min-width: 100%;

}
