.first-pan {
  background-color: #787A88;
  height: 25px;
  overflow: hidden;
  background-image: image-url("link-pattern.jpg");
  // background-size: 600px;
  // background-position: 20% 20%;
  background-attachment: fixed;
  // background-size: 600px;
  // background-repeat: no-repeat;
  min-width: 100%;

}
