<% flash.each do |type, value| %>
  <div data-alert class="flash <%= type %> alert-box small-4 medium-centered columns">
    <p><%= value %></p>
    <a href="#" class="close close-color">&times;</a>
  </div>

<% end %>
