<div class="row footer-panel">

  <div class="small-6 left copyright">
    <p>&copy; pangr</p>
  </div>


  <div class="small-6 right">
  <ul class="inline-list line-hieght hover-effect right-side">
    <li class="right"><a href="https://linkedin.com/in/stevescottrogers/"><i class="fi-social-linkedin"></i></a></li>
    <li class="right"><a href="http://teamtreehouse.com/stevenrogers"><i class="fi-social-treehouse"></i></a></li>
    <li class="right"><a href="https://github.com/Steavod19/pangr"><i class="fi-social-github"></i></a></li>
  </ul>
  </div>
</div>
